{% import "bootstrap/wtf.html" as wtf %}

<html lang="en">
{#head block#}
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

</head>
<body>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{url_for('logger.home')}}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('logger.register')}}">Register</a>
        </li>
          {%if current_user.is_authenticated %}
      <li class ="nav-item">
          <a class="nav-link" href="{{url_for('logger.login')}}">Login</a>
          {%else%}
      </li>
          <li class ="nav-item">
          <a class="nav-link" href="{{url_for('logger.logout')}}">Logout</a>
         {%endif%}
          </li>

          <li class ="nav-item">
          <a class="nav-link" href="{{url_for('calculate.calc')}}">Calculate</a>

      </li>
          <li>
              <a href="">
                  {%if current_user.is_authenticated%}
                  LoggedIn as<b style="color: deeppink">{{current_user.name}}</b>
                  {%else%}
                  <b style="color: deeppink">Not LoggedIn</b>
                  {%endif%}


              </a>

          </li>
</ul>


    </div>
    </div>
</nav>

{% for message in get_flashed_messages() %}
            <div class="container alert alert-info">
                <button type="button" class="close" data-dismiss="alert"></button>
                {{ message }}
            </div>
        {% endfor %}
{%block content %}


{%endblock%}
</body>
</html>





























</html>